if SHIELD_ULP_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "ULP_Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ULP_SPLIT_LEFT

if SHIELD_ULP_SPLIT_LEFT || SHIELD_ULP_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ULP_SPLIT_LEFT || SHIELD_ULP_SPLIT_RIGHT
